@tailwind base;
@tailwind components;
@tailwind utilities;

.fade-in {
  opacity: 0;
  transform: translateY(20px);
  transition: all 0.7s ease;
}

.visible {
  opacity: 1;
  transform: translateY(0);
}

@keyframes fadeUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.fade-up {
  opacity: 0;
  animation: fadeUp 1.2s ease forwards;
}

.fade-up-delay {
  opacity: 0;
  animation: fadeUp 1.2s ease forwards;
  animation-delay: 0.3s;
}

@keyframes pulseOverlay {

  0%,
  100% {
    background-color: rgba(0, 0, 0, 0.4);
  }

  50% {
    background-color: rgba(0, 0, 0, 0.6);
  }
}

.hero-overlay {
  animation: pulseOverlay 6s ease-in-out infinite;
}

#mobile-menu {
  overflow: hidden;
  max-height: 0;
  transition: max-height 0.4s ease;
}

#mobile-menu.show {
  max-height: 500px;
}